aio_pika==6.6.0
aioredis==1.3.1
Babel==2.8.0
blinker==1.4
brotli==1.0.7
ca_certs_locater==1.0
cchardet==2.1.6
cffi==1.14.0
clr==1.0.3
colorama==0.4.3
coverage==5.0.4
cryptography==2.8
Cython==0.29.16
dataclasses==0.7
docutils==0.16
elementtree==1.2.6-20050316
fasteners==0.15
flask_babel==1.0.0
flask_babelex==0.9.4
gevent_websocket==0.10.1
html5lib==1.0.1
ipaddr==2.2.0
jsonpickle==1.3
kafka==1.3.5
keyring==21.2.0
kombu==4.6.8
lxml==4.5.0
mock==4.0.2
numpy==1.18.2
objgraph==3.4.1
ordereddict==1.1
Pillow==7.0.0
pretty==0.1
protobuf==3.11.3
psutil==5.7.0
pycryptodome==3.9.7
pyOpenSSL==19.1.0
pyte==0.8.0
python-dotenv==0.12.0
PyYAML==5.3.1
redis==3.4.1
requests_ntlm==1.1.0
simplejson==3.17.0
uwsgi==2.0.18
watchdog==0.10.2
webapp2==2.5.2
websocket_client==0.57.0
wincertstore==0.2
wpf==1.0.0
Zope2==4.0
